h1{
    color: #e0ffff;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;;
    font-style: bold;
    font-size: 50px;
     }
 
h2 {
	text-align: center;
    font-size: 1.5em;
 
}
.button {
    background-color: #e66b6b; 
    color: white;
    padding: 40px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
 
 
p.one {
  font-size:1px;
  color:black;
}
 
body{ 
    background-image:url("water.jpg");
  background-size:100%;
  background-repeat:no-repeat;
  background-attachment: fixed;
}

a.button {
    font-family:'Trebuchet MS',  'Arial', 'Helvetica', 'sans-serif';
    font-size: 1.6em;
    color: white; 
}
h3{
    float: right;
    font-family: ;
    color: white
    
}
a.five {
    margin-left: 640px;
    color: white;
    font-size: 1.6em;
}

