@{
    
}
 
<!DOCTYPE html>
<html>
<head>
 
<meta charset = "utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
 
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 
 
<title>ORCA</title>
</head>
<body>
 
<p>. </p>
<p>. </p>
<p>. </p>
<p>. </p>
<p>. </p>
<p>. </p>
<p>. </p>
 
 
<link rel="stylesheet" type="text/css" href="~/Styles/default.css"> 
 
<h1>ORCAnizer</h1>
 
<p class = "three"><a href="~/teacherfirst.cshtml" class="button" role="button">Continue as Teacher</a> </p>
<p class = "three"><a href="~/first.cshtml" class="button" role="button">Continue as Student</a> </p>
<p class = "two"> The newest technology in school organization</p>
 <p class = "two"> and understanding</p>
 
 
</body>
</html>
