@{

Layout = "~/_Layout.cshtml";

}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Homepage</title>
    </head>
    <body>
        <h2>Welcome to ORCAnizer</h2>
       <img class="four" src="ORCA logos.jpg" alt="logo" style="width:400px;height:250px;">
        <div class="box" style="background-color: white;">
            <br>
 <h2 class="one">Features we offer</h2>
 <p class="two">The sports tab shows a complete list of all sports offered at your school, while also allowing coaches to add new sports and edit information from year to year. Students can also view the list to help them decide which sports they want to join. 
      </p>
 <p class="two">The clubs tab shows a complete list of all clubs offered at your school, while also allowing advisors to add new clubs and edit information from year to year. Students can also view the list to help them decide which clubs they want to join. </p>
 <p class="two">The maps tab allows students and parents to see a live map of their school to help them navigate the halls. </p>  
<p class="two">The survey tab gives teachers a class list and allows them to ask students whether or not they understand a concept. Teachers would then receive the data from the survey in the notifications tab. </p>
<br>
  </div>
    </body>
</html>
