<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="~/homepage.cshtml">ORCA</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="~/homepage.cshtml">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">School info <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="~/clubs.cshtml">Clubs</a></li>
            <li><a href="~/sports.cshtml">Sports</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Interactive Learning <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="~/notification.cshtml">Notifications</a></li>
            <li><a href="~/interactive.cshtml">Surveys</a></li>
          </ul>
        </li>
        <li><a href="~/map.cshtml">Maps</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="first.cshtml"><span class="glyphicon glyphicon-log-in"></span> LOG OUT</a></li>
      </ul>
    </div>
  </div>
</nav>

