@{
     Layout = "~/_Student.cshtml";
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Survey</title>
    </head>
    <body>
       <h2>ORCA Student Lesson Plan</h2>
        <br>
      <h2 class="two">
          <p class = "four"><a href="~/stop" class="buttonone" role="button">Stop: I need help</a> </p>
          <br>
           <p class = "four"><a href="~/studenthomepage" class="buttontwo" role="button">Go: I understand</a> </p>
          <br>
           <p class = "four"><a href="~/stop" class="buttonthree" role="button">Neutral: Shaky waters</a> </p>
      </h2>
        


    </body>
</html>
