
<!DOCTYPE html>
<html>
<head>
 
<meta charset = "utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
 
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 
 
<title>ORCA</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="~/Styles/app.css"> 

<p class ="one">. </p>
<p class ="one">. </p>
<p class ="one">. </p>


 
<h1>ORCANIZER</h1>
     <a class="five" href="~/Default.cshtml">Log out</a>
<h2>
<p class = "three"><a href="snotifications.cshtml" class="button" role="button">Survey</a> </p>
<p class ="one">. </p>
<p class = "three"><a href="students.cshtml" class="button" role="button">Clubs</a></p>
<p class ="one">. </p>
<p class = "three"><a href="studentsports.cshtml" class="button" role="button">Sports</a> </p>
<p class ="one">. </p>
<p class = "three"><a href="map.cshtml" class="button" role="button">Map</a></p>
 
 
</h2>
</body>
</html>


