@{
   Layout = "~/_Student.cshtml";
    var db = Database.Open("WebPagesClubs") ;
    var selectCommand = "SELECT * FROM ClubsTable";
    var searchTerm = "";
 
    if(!Request.QueryString["searchClubs"].IsEmpty() ) {
        selectCommand = "SELECT * FROM ClubsTable WHERE Club = @0";
        searchTerm = Request.QueryString["searchClubs"];
    }
 
    var selectedData = db.Query(selectCommand, searchTerm);
    var grid = new WebGrid(source: selectedData, defaultSort: "Club");
 
}
 
<!DOCTYPE html>
 
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Clubs</title>   
    </head>
    <body>
        <br></br>
        <form method="get">
  <div class="two">
    <label for="searchClubs">Search for a Club: </label>
    <input type="text" name="searchClubs" value="" />
    <input type="Submit" value="Search" /><br/>
    <br/>
    </div>
</form>
 
<div class="one">
    @grid.GetHtml(    
    tableStyle: "grid",
    headerStyle: "head",
    alternatingRowStyle: "alt",
    columns: grid.Columns(
        grid.Column("Club"),
        grid.Column("Location"),
        grid.Column("Time"),
        grid.Column("Advisor"),
        grid.Column("Cost"),
        grid.Column("Information")
        ))
</div>
        <div class="three">
        <br>
        <a class="one" href="~/Students">Return to clubs listing</a>
            </div>
    </body>
</html>



