<!DOCTYPE html>
<html lang="en">
<head>
  <title>ORCA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<link rel="stylesheet" type="text/css" href="~/Styles/orcacustom.css"> 
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="first.cshtml">ORCA</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="~/teachercreate.cshtml">Create an account</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="~/login.cshtml"><span class="glyphicon glyphicon-log-in"></span> LOG IN</a></li>
      </ul>
    </div>
  </div>
</nav>
<p class ="two"> . </p>
<p class ="two"> . </p>
<h3> Welcome!</h3>
<p class ="two"> . </p>
<p class ="two"> . </p>
<p class="three"><img class="four" src="ORCA logos.jpg" alt="logo"style="width:400px;height:250px;"></p>
<p class ="two"> . </p>
<p class ="two"> . </p>
<p class ="two"> . </p>
<p class ="two"> . </p>
<p class ="two"> . </p>
<p class ="two"> . </p>
<div class="container-fluid">
<div class="box" style="background-color: #e66b6b;">
<p class ="two"> . </p>
 <h2> What is the online ORCAnizer?</h2>
 <p class ="two"> . </p>
<p>This app is designed to help you transition into a new school culture more seamlessly than ever before! ORCA nizar, you can learn about your schools upcoming events, contact your teachers, and orient yourself on campus. </p>
<p class ="two"> . </p>
<p class ="two"> . </p>
  </div>
  <p class ="two"> . </p>
  <p class ="two"> . </p> 
  <p class ="two"> . </p>
  
<div class="container-fluid">
<div class="box" style="background-color: #e66b6b;">
<p class ="two"> . </p>
<h2> Do you need the online ORCAnizer?</h2>
<p class ="two"> . </p>
<p> Are you one of the following people? </p>
    <p>A Freshman, a new student, a teacher, a parent, a tour guide, a student leader, or just a student who wants to be more involved at school? Then create and account with the online ORCAnizer</p>
<p class ="two"> . </p>
<p class ="two"> . </p>
</div>
    </div>
<p class ="two"> . </p>
<p class ="two"> . </p>
<p class ="two"> . </p>

<div class="container-fluid">
<div class="box" style="background-color: #e66b6b;">
<p class ="two"> . </p>
 <h2> Contact Us!</h2>
 <p class ="two"> . </p>
<p>Email us at orcanizerapp@gmail.com with any questions, comments, or concerns! </p>
<p class ="two"> . </p>
<p class ="two"> . </p>
  </div>
  <p class ="two"> . </p>
  <p class ="two"> . </p> 
  <p class ="two"> . </p>

 <p>
<img src="app.jpg" class="text" style="width:100" alt="Image">
</p>
</br>
<footer class="container-fluid text-center">
  <p>orcanizerapp@gmail.com</p>
  <p> All rights reserved</p>
</footer>
</body>
</html>